
 body {
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin: 0 auto;  
  height: 100vh;
  background-color: black;
  font-family: 'Monument';
  
}



@font-face {
    font-family: 'Monument';
    src: url('https://assets.codepen.io/4086427/MonumentExtended-Bold.otf');
 }
@font-face {
    font-family: 'Rational';
    src: url('https://assets.codepen.io/4086427/Rene+Bieder+-+RationalDisplayDEMO-SemiBold.otf');
 }
@font-face {
    font-family: 'Rational-light';
    src: url('https://assets.codepen.io/4086427/RationalDisplay-Light.otf');
 }

.scroll-content {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  z-index: 2;
  /*background-color: blue;*/
}
.text {
  position: absolute;
  top: inherit;
  font-family:"Monument";
  font-size: 1.5em;
  margin: 25px;
  opacity: 0;
  color: white;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 50px;
  
}


.layout {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh,1vh) * 100);
  padding: 2rem 3rem;
  color: #fff;
  position: fixed;
  z-index: 2;
  top: 0;
}

@media (max-width: 767.98px){
  .layout{padding: 2rem 1.5rem;
  }
}
.layout .sticky-text-left{
  width: 85vh;
  transform: rotate(270deg);
  position: absolute;
  margin-bottom: 0;
  left: 3vw;
  bottom: 1vw;
  transform-origin: left top;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}

.layout .sticky-text-bottom{
  position: absolute;
    z-index: 3;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
}

.layout .menu-metastore{
  position: fixed;
  top: unset;
  right: 0;
  
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-top: 25px;
  
}

.canvas-container {
  position: relative;

  margin: 0 auto;
}
canvas {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 width: 100%; 
  height: 100%;

}
@media only screen and (max-width: 1024px) {
  
  canvas {
    z-index: -1;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
 width: 100vw; 
  height: 100vh;
  }
}
@media only screen and (max-width: 768px) {
  
  canvas {
    z-index: -1;
  position: fixed;
  transform: translate(-50%, -50%);
 width: auto; 
  height: auto;
  }
  .text {
    position: absolute;
    
    font-family:"Monument";
    font-size: 16px;
    opacity: 0;
    color: white;
    top: auto;
    left: 0;
    right: 0;
  }
  .padding-text{
    padding: 15px;
    
    text-align: center;
  }
}
@media only screen and (max-width: 425px) {

  canvas {
    z-index: -1;
    position: fixed;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    
}
.text {
  position: absolute;
  top: inherit;
  font-family:"Monument";
  font-size: 16px;
  opacity: 0;
  color: white;
  left:0;
  right: 0;
}
.padding-text{
  padding: 15px;
  text-align: center;
}
} 

/* navbar bottom */
.layout .feature-section{
  display: flex;
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  align-items: center;
  
    }
  .layout .feature-section .navigate {
      padding: 15px;
      text-shadow: 0 0 1rem rgb(0 0 0 / 50%);
      
  }
  
  .layout .lightup, .layout a, .sequence-box a {
    transition: .4s;
  }
  .layout .common-left-text {
    width: 85vh;
    transform: rotate(270deg);
    position: absolute;
    margin-bottom: 0;
    left: 2vw;
    bottom: 0;
    transform-origin: left top;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    
  }
  .layout .common-left-text .title {
    
    
    font-size: 1.8rem;
    margin-bottom: 0;
    color: #fff ;
  }
  
  .scroll-image{
    height: 50%;
    overflow: auto;
  }
   
   .scroll-image .section-product{
    position: fixed; /* Stay fixed */
  top: 1900px;
  left: 50%;
  height: 2100px;
  transform: translate(-50%, -50%);
  z-index: 1;
   width: 100%;
    clip-path: polygon(0 2%,100% 0,100% 98%,0 100%);
    background-image: url(./assets/texture.jpg);
    background-repeat: repeat;
    padding: 10rem 0;
    
  }

  
 
  @media (max-width: 768px){
  .layout .feature-section {
    display: flex;
    justify-content: center;
    bottom: unset;
    width: 100%;
    text-align: right;
    left: 0;
    top: 0;
    padding-top: 1rem;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(1px);
    align-items: center;
  }
  
.menu-metastore {
    position: fixed;
    bottom: 0;
    right: 0;
    top: unset;
    z-index: 4;
    margin-right: 3px;
    margin-bottom: 10px;
}

  }
  .layout .common-left-text .text {
      margin-bottom: 0;
      display: flex;
      font-size: .625rem;
  }
  
  .layout .common-left-text .text a {
      color: #fff;
      margin: 0 0.25rem;
  }
/* menu metastore */

/* music */
  
#player-container #play-pause {
  cursor: pointer;
  text-indent: -999999px;
  height: 40px;
  width: 40px;
  padding: 0px 0px;
  z-index: 2;
  background-image: url(./assets/logo-pauses.png);

  background-position:center;
  background-size:45px;
  
}
.play {
  background-image: url(./assets/logo-pauses.png);
}
.pause {
   background-image: url(./assets/logo-pause.png)!important;
}

/* preloader */

#loader {
  position: fixed;
  display: inline-block;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  background-image: url(./assets/logo-pause.png);
  background-size: cover;  
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@media (max-width: 768px){
  #loader {
    position: fixed;
    display: inline-block;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    background-image: url(./assets/logo-pause.png);
    background-size: cover;  
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#content{
  
  display: none;
  text-align: center;
}

.text-blank{
  margin:auto;
  
}
.text-stop{
  margin:auto;
  position: absolute;
  top: inherit;
  font-family:"Monument";
  font-size: 1.5em;
  margin: 25px;
  opacity: 0;
  color: white;
  text-align: center;
}

.img-social{
  padding: 5px;
  width: 3rem;
  height: auto;
  transition: .2;
  z-index: 99;
}

.section-product .benefit{
  position: absolute;
  color: white;
    margin-top: 0;
    right: 1.7rem;
    letter-spacing: 2px;
    z-index: 1023;
}