
 body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;  
  height: 100vh;
  background-color: black;
  font-family: Monument;
  
}
@font-face {
    font-family: 'Monument';
    src: url('https://assets.codepen.io/4086427/MonumentExtended-Bold.otf');
 }
@font-face {
    font-family: 'Rational';
    src: url('https://assets.codepen.io/4086427/Rene+Bieder+-+RationalDisplayDEMO-SemiBold.otf');
 }
@font-face {
    font-family: 'Rational-light';
    src: url('https://assets.codepen.io/4086427/RationalDisplay-Light.otf');
 }

.text-container {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  /*background-color: blue;*/
}
.text {
  position: absolute;
  top: inherit;
  font-family:"Monument";
  font-size: 2em;
  opacity: 0;
  color: white;
}
.layout {width: 100vw;
  height: 100vh;
  height: calc(var(--vh,1vh) * 100);
  padding: 2rem 3rem;
  color: #fff;
  position: fixed;
  z-index: 2;
  top: 0;
}
.layout .sticky-text-left{
  width: 100vh;
  transform: rotate(270deg);
  position: absolute;
  margin-bottom: 0;
  left: 6vw;
  bottom: 5vw;
  transform-origin: left top;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}
.layout .sticky-text-bottom{
  position: absolute;
    z-index: 3;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
}








.canvas-container {
  position: relative;
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
}
canvas {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 width: 100vw; 
  height: 100vh;

}
@media only screen and (max-width: 768px) {
  
  canvas {
    z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 width: 100vw; 
  height: 100vh;
  }
}
@media only screen and (max-width: 426px) {

  canvas {
    z-index: -1;
    position: fixed;
    top: 42%;
    left: 39%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}
} 
