* {box-sizing: border-box;}

body{
  font-family: 'poppins';
}

.card{
  border: 10px solid rgba(0, 0, 0, 0);
  transition: transform .5s;
}
.card:hover{
  transform: scale(1.02);
}

.img-magnifier-container {
  position: relative;
  
}

.img-magnifier-glass {
  position: absolute;
  border: 10px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 200px;
  height: 200px;
}



.text-image{
  font-size: 32px;
  z-index: 2; 
  position: absolute; 
  top: 35%;
  left: 5%;
}

.text-padding{
  font-size: 16px;
  width: 600px;
  z-index: 2; 
  position: absolute; 
  top: 35%;
  left: 5%;
}

.center-background{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.margin-text{
  margin-top:250px;
}
/* media queries */
@media (max-width: 768px){
  .text-image{
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    z-index: 2; 
    position: relative; 
    top: 20%;
    left: 2%;
  }
  .text-padding{
    text-align: center;
    font-size: 12px;
    width: 100%;
    z-index: 2; 
    position: inherit; 
    
  }

  .size{
    width: 512px;
    height: 512px;
  }
  .margin-text{
    margin-top:0px;
  }
}
.img-social{
  padding: 1px;
  width: 3rem;
  height: auto;
  transition: .2;
  z-index: 99;
  filter: invert(1);
}

.img-social:hover{
  background-color:rgba(255, 255, 255, 0.178);
  padding: 2px;
}

